<!DOCTYPE html>
<html>
  <head>
    <title>Gmap</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <%= yield %>
  </body>

  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxVuLwQs09RmorIsJzxmRFNx2CvaZVCXo&callback=initMap">
  </script>

</html>
